/***<<--- Heading Transition --->>***/

.wdt-heading-holder
{
    -webkit-transition: var(--wdt-elementor-base-transition);
            transition: var(--wdt-elementor-base-transition);
}

/***<<--- Heading Common --->>***/

.wdt-heading-holder
{
    position: relative;
}

.wdt-heading-holder > *:not(:last-child)
{
    margin-bottom: 20px;
}

.wdt-heading-holder > *:last-child
{
    margin-bottom: 0;
}

.wdt-heading-holder .wdt-heading-title-wrapper
{
    line-height: 1.2;

    margin-top: 0;
}

.wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title .wdt-heading-title-item { margin: 0; }

.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-start,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-baseline,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-start .wdt-heading-title .wdt-heading-title-inner,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-baseline .wdt-heading-title .wdt-heading-title-inner
{
    line-height: 1;
}

.wdt-heading-holder .wdt-heading-subtitle-wrapper
{
    font-size: 1.2em;

    letter-spacing: .05em;
}

.wdt-heading-holder .wdt-heading-icon-wrapper .wdt-content-icon-wrapper,
.wdt-heading-holder .wdt-heading-icon-wrapper .wdt-content-icon
{
    line-height: 1;
}

/***<<--- Overall - Heading Separator --->>***/

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator
{
    display: flex;
    align-items: center;
}

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator .wdt-separator-line
{
    width: 50px;
    height: 2px;
}

.wdt-heading-holder .wdt-heading-separator-wrapper .wdt-heading-separator.with-line .wdt-separator-line[class*='-left-part']
{
    margin-right: 5px;
}

.wdt-heading-holder .wdt-heading-separator-wrapper .wdt-heading-separator.with-line .wdt-separator-line[class*='-right-part']
{
    margin-left: 5px;
}

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator .wdt-content-icon-wrapper
{
    line-height: 0;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon
{
    display: inline-block;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span
{
    font-size: 1.125rem;

    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
    vertical-align: middle;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span i
{
    position: relative;

    display: inline-flex;

    width: 100%;
    height: 100%;
    margin: 0;

    place-content: center;
    place-items: center;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span svg
{
    width: 1em;
    height: 1em;

    fill: currentColor;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: auto;

    content: '';

    -webkit-border-radius: inherit;
            border-radius: inherit;
}

/***<<--- Heading - Decorative Elements --->>***/

.wdt-heading-holder > .wdt-heading-deco-wrapper > span
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    white-space: break-spaces;
}

.wdt-heading-holder > .wdt-heading-deco-wrapper > span .wdt-heading-deco-line
{
    width: 50px;
    height: 2px;
    align-self: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner
{
    display: inline-flex;
    align-items: baseline;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner[class*='-left-part']
{
    margin-right: 5px;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner[class*='-right-part']
{
    margin-left: 5px;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-icon,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-icon span
{
    display: inline-flex;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span
{
    font-size: 1.125rem;
    line-height: 1;

    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span i
{
    position: relative;

    display: inline-flex;

    width: 100%;
    height: 100%;
    margin: 0;

    place-content: center;
    place-items: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span svg
{
    width: 1em;
    height: 1em;

    fill: currentColor;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: auto;

    content: '';

    -webkit-border-radius: inherit;
            border-radius: inherit;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-image
{
    display: inline-flex;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-inner .wdt-heading-deco-image span
{
    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-inner .wdt-heading-deco-image span img
{
    display: inherit;

    height: 100%;

    object-fit: cover;
}


/***<<--- Heading - Background Text Elements --->>***/

.wdt-heading-holder .wdt-heading-background-text-wrapper {
    line-height: 1;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
}

.wdt-heading-holder .wdt-heading-background-text-wrapper .wdt-heading-background-text {
    display: inline-block;
    font-family: var(--wdtFontTypo_Alt);
    font-size: 12.5em;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 0.65;
    opacity: 0.048;
    margin-top: 5px;
    margin-left: -5px;
}
span.wdt-heading-colored-elements{position: relative;}
span.wdt-heading-colored-elements:after {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='244px' height='87px'%3E%3Cpath fill-rule='evenodd' fill='currentcolor' d='M243.083,45.711 C243.013,48.526 241.991,51.189 239.955,53.708 C237.841,56.320 235.048,58.586 231.867,60.693 C226.348,64.351 219.962,67.208 213.158,69.696 C207.619,71.721 201.842,73.394 195.889,74.807 C189.398,76.349 182.773,77.523 176.001,78.306 C171.304,78.851 166.580,79.189 161.821,79.253 C156.973,79.318 152.172,79.127 147.432,78.531 C142.119,77.863 137.103,76.716 132.569,74.805 C131.538,74.372 130.559,73.886 129.679,73.481 C130.725,72.840 131.666,72.320 132.497,71.735 C133.013,71.370 133.337,71.359 133.974,71.611 C136.063,72.435 138.130,73.316 140.363,73.947 C144.427,75.097 148.765,75.691 153.205,75.972 C159.735,76.386 166.255,76.170 172.775,75.515 C180.313,74.756 187.654,73.477 194.830,71.739 C201.555,70.110 208.025,68.123 214.163,65.665 C220.236,63.233 225.878,60.453 230.579,56.920 C233.376,54.819 235.684,52.522 237.008,49.864 C238.206,47.459 238.146,45.008 237.891,42.552 C237.344,37.285 234.566,32.643 230.056,28.491 C219.817,19.862 203.063,14.363 202.426,14.155 C201.817,13.966 201.204,13.781 200.587,13.601 C196.120,12.302 191.539,11.152 186.936,10.056 C180.291,8.472 173.435,7.285 166.469,6.429 C159.505,5.576 152.483,4.843 145.427,4.348 C138.341,3.851 131.190,3.621 124.050,3.452 C119.029,3.334 113.979,3.465 108.942,3.573 C99.760,3.767 90.618,4.400 81.529,5.385 C70.740,6.553 60.120,8.214 49.806,10.723 C41.084,12.845 32.744,15.456 25.203,19.100 C19.047,22.072 13.786,25.575 10.144,30.013 C7.770,32.907 6.340,35.978 5.937,39.221 C5.561,42.252 6.748,45.077 8.626,47.772 C11.283,51.585 15.119,54.862 19.574,57.837 C26.248,62.291 33.965,65.864 42.272,68.919 C49.211,71.471 56.449,73.639 63.998,75.343 C69.127,76.503 74.322,77.557 79.544,78.541 C86.209,79.795 93.008,80.736 99.889,81.412 C105.660,81.978 111.440,82.551 117.257,82.898 C123.925,83.296 130.630,83.538 137.334,83.681 C143.243,83.806 149.173,83.707 155.095,83.704 C159.543,83.701 163.990,83.711 168.439,83.686 C172.087,83.665 175.737,83.604 179.386,83.554 C182.240,83.516 185.094,83.463 187.947,83.422 C189.829,83.395 191.710,83.406 193.590,83.346 C195.576,83.285 197.559,83.160 199.564,83.062 C199.682,83.450 199.247,83.531 198.678,83.578 C194.952,83.890 191.228,84.208 187.504,84.535 C183.867,84.857 180.231,85.182 176.594,85.504 C176.595,85.504 176.596,85.504 176.597,85.504 C165.829,86.941 151.168,86.884 148.730,86.870 C142.756,86.834 136.781,86.781 130.818,86.620 C125.794,86.483 120.771,86.264 115.777,85.932 C110.842,85.604 105.915,85.183 101.036,84.632 C94.627,83.906 88.221,83.131 81.902,82.159 C73.522,80.868 65.357,79.124 57.377,77.046 C51.077,75.405 44.952,73.535 39.079,71.346 C31.599,68.559 24.572,65.364 18.310,61.493 C12.202,57.716 6.965,53.521 3.599,48.427 C1.543,45.314 0.430,42.061 0.939,38.604 C1.468,35.014 3.109,31.623 5.765,28.439 C10.084,23.260 16.372,19.250 23.712,15.893 C28.925,13.510 34.494,11.552 40.298,9.872 C46.668,8.029 53.220,6.551 59.902,5.322 C66.386,4.129 72.935,3.119 79.582,2.495 C86.400,1.856 93.234,1.272 100.080,0.838 C107.699,0.356 115.345,0.209 122.975,0.368 C129.356,0.503 135.750,0.634 142.096,1.002 C148.321,1.366 154.516,1.947 160.684,2.576 C168.106,3.334 175.397,4.473 182.578,5.863 C188.451,7.001 194.204,8.333 199.794,9.927 C199.794,9.927 199.794,9.927 199.794,9.927 C225.144,16.539 233.973,26.494 233.973,26.494 C233.973,26.494 233.973,26.494 233.969,26.496 C234.518,26.992 235.053,27.498 235.567,28.018 C238.058,30.533 239.962,33.233 241.260,36.125 C242.662,39.247 243.166,42.449 243.083,45.711 Z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='244px' height='87px'%3E%3Cpath fill-rule='evenodd' fill='currentcolor' d='M243.083,45.711 C243.013,48.526 241.991,51.189 239.955,53.708 C237.841,56.320 235.048,58.586 231.867,60.693 C226.348,64.351 219.962,67.208 213.158,69.696 C207.619,71.721 201.842,73.394 195.889,74.807 C189.398,76.349 182.773,77.523 176.001,78.306 C171.304,78.851 166.580,79.189 161.821,79.253 C156.973,79.318 152.172,79.127 147.432,78.531 C142.119,77.863 137.103,76.716 132.569,74.805 C131.538,74.372 130.559,73.886 129.679,73.481 C130.725,72.840 131.666,72.320 132.497,71.735 C133.013,71.370 133.337,71.359 133.974,71.611 C136.063,72.435 138.130,73.316 140.363,73.947 C144.427,75.097 148.765,75.691 153.205,75.972 C159.735,76.386 166.255,76.170 172.775,75.515 C180.313,74.756 187.654,73.477 194.830,71.739 C201.555,70.110 208.025,68.123 214.163,65.665 C220.236,63.233 225.878,60.453 230.579,56.920 C233.376,54.819 235.684,52.522 237.008,49.864 C238.206,47.459 238.146,45.008 237.891,42.552 C237.344,37.285 234.566,32.643 230.056,28.491 C219.817,19.862 203.063,14.363 202.426,14.155 C201.817,13.966 201.204,13.781 200.587,13.601 C196.120,12.302 191.539,11.152 186.936,10.056 C180.291,8.472 173.435,7.285 166.469,6.429 C159.505,5.576 152.483,4.843 145.427,4.348 C138.341,3.851 131.190,3.621 124.050,3.452 C119.029,3.334 113.979,3.465 108.942,3.573 C99.760,3.767 90.618,4.400 81.529,5.385 C70.740,6.553 60.120,8.214 49.806,10.723 C41.084,12.845 32.744,15.456 25.203,19.100 C19.047,22.072 13.786,25.575 10.144,30.013 C7.770,32.907 6.340,35.978 5.937,39.221 C5.561,42.252 6.748,45.077 8.626,47.772 C11.283,51.585 15.119,54.862 19.574,57.837 C26.248,62.291 33.965,65.864 42.272,68.919 C49.211,71.471 56.449,73.639 63.998,75.343 C69.127,76.503 74.322,77.557 79.544,78.541 C86.209,79.795 93.008,80.736 99.889,81.412 C105.660,81.978 111.440,82.551 117.257,82.898 C123.925,83.296 130.630,83.538 137.334,83.681 C143.243,83.806 149.173,83.707 155.095,83.704 C159.543,83.701 163.990,83.711 168.439,83.686 C172.087,83.665 175.737,83.604 179.386,83.554 C182.240,83.516 185.094,83.463 187.947,83.422 C189.829,83.395 191.710,83.406 193.590,83.346 C195.576,83.285 197.559,83.160 199.564,83.062 C199.682,83.450 199.247,83.531 198.678,83.578 C194.952,83.890 191.228,84.208 187.504,84.535 C183.867,84.857 180.231,85.182 176.594,85.504 C176.595,85.504 176.596,85.504 176.597,85.504 C165.829,86.941 151.168,86.884 148.730,86.870 C142.756,86.834 136.781,86.781 130.818,86.620 C125.794,86.483 120.771,86.264 115.777,85.932 C110.842,85.604 105.915,85.183 101.036,84.632 C94.627,83.906 88.221,83.131 81.902,82.159 C73.522,80.868 65.357,79.124 57.377,77.046 C51.077,75.405 44.952,73.535 39.079,71.346 C31.599,68.559 24.572,65.364 18.310,61.493 C12.202,57.716 6.965,53.521 3.599,48.427 C1.543,45.314 0.430,42.061 0.939,38.604 C1.468,35.014 3.109,31.623 5.765,28.439 C10.084,23.260 16.372,19.250 23.712,15.893 C28.925,13.510 34.494,11.552 40.298,9.872 C46.668,8.029 53.220,6.551 59.902,5.322 C66.386,4.129 72.935,3.119 79.582,2.495 C86.400,1.856 93.234,1.272 100.080,0.838 C107.699,0.356 115.345,0.209 122.975,0.368 C129.356,0.503 135.750,0.634 142.096,1.002 C148.321,1.366 154.516,1.947 160.684,2.576 C168.106,3.334 175.397,4.473 182.578,5.863 C188.451,7.001 194.204,8.333 199.794,9.927 C199.794,9.927 199.794,9.927 199.794,9.927 C225.144,16.539 233.973,26.494 233.973,26.494 C233.973,26.494 233.973,26.494 233.969,26.496 C234.518,26.992 235.053,27.498 235.567,28.018 C238.058,30.533 239.962,33.233 241.260,36.125 C242.662,39.247 243.166,42.449 243.083,45.711 Z'/%3E%3C/svg%3E");
    content: '';
    position: absolute;
    top: 8px;
    bottom: 0;
    right: 0;
    left: -30px;
    margin: auto;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    width: 278px;
    height: 100px;
    background-color: var(--wdtPrimaryColor);
    z-index: -1;
}


/* Default Colors */

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-separator-line,
.wdt-heading-holder > .wdt-heading-deco-wrapper > span .wdt-heading-deco-line
{
    background-color: var(--wdt-elementor-color-primary);
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-heading-colored-elements
{
    color: var(--wdt-elementor-color-primary);
}

.wdt-custom-link-section .wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner[class*='-left-part']{display: none;}

.wdt-popup-heading .wdt-heading-holder > .wdt-heading-deco-wrapper > span{display: inline-block;}
.wdt-popup-heading span.wdt-heading-colored-elements {font-size: 70px;}

@media only screen and (max-width:1540px)
{
    span.wdt-heading-colored-elements:after{width: 255px;}
}
@media only screen and (max-width:1280px)
{
    span.wdt-heading-colored-elements:after{width: 160px;left: -20px;}
}



@media only screen and (max-width:480px)
{
    .wdt-popup-heading span.wdt-heading-colored-elements {
        font-size: 52px;
    }
}